
.view-job-left-side h3{
    font-weight: bold;
    margin: 10px 0;
    text-align: justify;
}
.view-job-left-side span{
    font-weight: 400;
    font-size: 14px;
    color: rgb(85, 104, 120);
    
}
.view-job-left-side p{
    font-weight: 400;
    font-size: 14px;
    color: rgb(85, 104, 120);
 
}
.view-job-right-side{
    background-color: #7e8ffe1f;
}

.view-job-main{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    
}
.view-job-right-side{
    filter: drop-shadow(3px 5px 3px #7e8ffe5e);
}
.view-job-right-side hr{
    border: 1px solid #7e8ffe92;
    margin: 10px 0;
}


@media screen and (max-width: 780px) {
    .view-job-main{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
   
}
.job-details-paragraph h4{
    font-size: 15px;
    font-weight: 600;
}
.job-details-paragraph span{
    font-weight: 400;
}
